---
layout: default
---
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <h2 class="post-header">
        {% if post.external_url %}
        <a rel="external" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<svg class="icon-externalLink"><use xlink:href="#svg-externalLink"></use></svg></a>
        {% else %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
        <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
      </h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
