<footer role="siteinfo">
  <hr/>
  <ul>
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <svg class="icon-github">
          <use xlink:href="#svg-github"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <svg class="icon-twitter">
          <use xlink:href="#svg-twitter"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/{{ site.instagram_username }}">
        <svg class="icon-instagram">
          <use xlink:href="#svg-instagram"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="http://steamcommunity.com/id/{{ site.steam_username }}">
        <svg class="icon-steam">
          <use xlink:href="#svg-steam"/>
        </svg>
      </a>
    </li>
  </ul>
</footer>
