.SiteBody {
  width: 80%;
  margin: 0 auto 0 20%;
  padding: 6rem 0;

  @include max-width($site-size-px) {
    width: 100%;
    margin-left: auto;
  }

  &--innerWrap {
    max-width: $site-size;
    padding: 0 1rem;
  }

  article + article {
    margin-top: 5rem;
  }
}
