.SiteNav {
  background-color: $purple;
  color: $white;
  max-width: 80%;
  margin-left: 20%;

  @include max-width($site-size-px) {
    max-width: 100%;
    margin-left: auto;
    text-align: center;
  }

  &--innerWrap {
    max-width: $site-size;
    margin: 0 auto 0 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: stretch;

    @include max-width($site-size-px) {
      justify-content: center;
    }

    li {
      background: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    padding: 1em 1em 1em 0;
    font-weight: 400;
    position: relative;

    &:hover {
      background-color: inherit;
      color: inherit;
      text-decoration: underline;
    }

    // &:after {
    //   position: absolute;
    //   bottom: 0;
    //   content: "";
    //   margin: 0 auto;
    //   background: $green;
    //   opacity: 1;
    // }
  }

  li + li {
    margin-left: 1em;
  }
}
