html {
  font-size: scut-rem(18);
}

body {
  @extend %fonts;
}

h1,
h2,
h3,
h4 {
  color: $green;
  small {
    display: block;
    color: $black;
    font-size: 70%;
    font-weight: 400;
  }
}

// a {
//   color: $green;
//   text-decoration: none;
//   font-weight: 600;
//   display: inline-block;
//   padding: 0 scut-em(1);
//   transition: all 150ms ease-in-out;
//
//   &:hover {
//     background-color: $green;
//     color: $white;
//   }
// }

a {
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: $green;
  vertical-align: text-bottom;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  color: $purple;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    background: url("/assets/svgs/plus_bullet.svg") no-repeat center left / scut-rem(14) scut-rem(14);
    margin-bottom: 1.5rem;
    padding-left: scut-rem(20);
  }
}

.SectionTitle {
  padding: 0 0 0 0.25em;
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;

  &:before {
    content: "";
    border-right: scut-rem(1) solid $gray;
    width: scut-rem(1);
    height: 50%;
    left: 0;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
  }

  &:after {
    content: "";
    position: absolute;
    border-top: scut-rem(1) solid $gray;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
